@import 'reset';


ul {
    list-style-type: none;
}

.container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    outline: 1px dashed red;
}

.book-search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    grid-column: 1/ 4;
}
.book {
    outline: 1px dashed blue;
    display: flex;
    margin-bottom: 1em;
    padding: 10px;

    &-image {
        margin-right: 1.5em
    }
}

form {
    grid-column: 1 / 3;
}

