@import 'reset';

$text-color: #505057;

body {
    font-family: Inter, sans-serif;
    color: $text-color
}

h1, h2, h3 {
    margin-bottom: .5rem;
}


ul {
    list-style-type: none; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5em;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
}

.search-form input {
    height: 35px;
    padding: 4px;
}

.book-search-results {
    grid-column: 1 / 4;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;

        .book {
            display: flex;
            padding: 25px 0;

            &:hover {
                background-color: lighten(#4A4A4A, 69%);
                cursor: pointer;

            }   

            &.selected {
                background-color: lighten(#4A4A4A, 62%);
            }
        
            &-image {
                margin-right: 1.5em
            }
        }
        
    }
}

.search-form {
    grid-column: 1 / 3;
    margin-bottom: 1em;
}

.owned-books {
    grid-column: 1 / -1;
    grid-row-start: 3;
    // outline: 1px solid red;
    border-top: 1px solid #D3D3D3;
    padding-top: 1em;
}

.review-section {
    grid-column: 5  / 7;

    & h2 ~ * {
        margin-bottom: 1em;
    }

    .review-book-image {
width: 150px;
height: 150px;
overflow: hidden;

img {
    width: 100%;
    height: auto;
}
    }    

}

.book-image {
    width: 90px;
    height: 90px;
}



.hidden {
    visibility: hidden;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

#query, button {
    height: 40px;
    padding: 5px;
}

form {
    grid-row: 2/3;
    // height: auto;
}

#query {
    margin-right: 0.5em;
}

header {
    grid-column: 1 / -1;
    margin-bottom: 1em;
}

h1 {
    color: $text-color;
}
