/* Error: Undefined variable.
 *    ,
 * 42 |     background-color: lighten($btn-blue-light, 35%);
 *    |                               ^^^^^^^^^^^^^^^
 *    '
 *   public\scss\partials\sections\_owned-books.scss 42:31  @import
 *   public\scss\partials\sections\_sections.scss 96:9      @import
 *   public\scss\styles.scss 13:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 42 \2502      background-color: lighten($btn-blue-light, 35%);\d\a    \2502                                ^^^^^^^^^^^^^^^\a    \2575 \a   public\\scss\\partials\\sections\\_owned-books.scss 42:31  @import\a   public\\scss\\partials\\sections\\_sections.scss 96:9      @import\a   public\\scss\\styles.scss 13:9                           root stylesheet";
}
