.review-edit-form {
    grid-column: 3 / 5;

    & h2 ~ * {
        margin-bottom: 1em;
    }

    textarea {
        // width: 30%;
        height: 100px;
        padding: 10px;
    }

    button {
        padding: 0.2em;

    }
}