.review-edit-form {
    grid-column: 3 / 5;
    grid-row: 4;

  
    & h2 ~ * {
        margin-bottom: 1em;
    }

    textarea {
        // width: 30%;
        height: 100px;
        padding: 10px;
    }

  

    .review-edit-form__title {
        color: $btn-blue-light;
        // color: lighten(#007FFF, 10%);
    }
}