.owned-books {
    grid-column: 1 / -1;
    grid-row: 4;
    border-top: 1px solid #d3d3d3;
}

.owned-books form {
    display: inline;

    
}

.owned-books h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.owned-books table {
    width: 100%;
    border-collapse: collapse;
    // margin: 1em 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.owned-books th, .owned-books td {
    padding: 0.30em;
    text-align: left;
    border: 1px solid #d3d3d3;
}

.owned-books th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.owned-books td {
    transition: all 0.1s ease-in;
}

.owned-books tr:hover td:not(:last-child) {
    background-color: lighten($btn-blue-light, 35%);
}

.owned-books td {
    color: #333;
}

.owned-books table caption {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #555;
}

.owned-books table th:last-child {   
    border: none;
    width: 220px;
    visibility: hidden;
}

.owned-books table td:last-child {  
    border: none;
    text-align: right;
    width: 210px;
    display: flex;
    justify-content: space-around;
}



.owned-books form button {   
    // width: 100px;
    border: 1px solid #d3d3d3;
    background-color: #f5f5f5;
    transition: all 0.2s ease-in-out;
    color: #333;
    border-radius: 3px;
}



.owned-books form .edit-button:hover {
    background-color: $btn-blue-light; /* Bootstrap blue */
    color: white;
    border-color: $btn-blue;
}

.owned-books form .delete-button:hover {
    background-color: $danger-red-light; /* Bootstrap red */
    color: white;
    border-color: $danger-red;
}

td.book-title {
    // background: red;
    width: 400px;
}

